## .NET Core
bin/
obj/
out/

## Visual Studio Code
.vscode/
*.code-workspace
.history/

## User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

## Visual Studio 2015/2017 cache/options directory
.vs/

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

## Visual Studio profiler
*.psess
*.vsp
*.vspx
*.sap

## SQL Server files
*.mdf
*.ldf
*.ndf

## Sensitive configuration files
appsettings.Development.json
appsettings.Production.json
*.Development.json
*.Production.json

## Others
*.swp
*.*~
*~
.DS_Store
Thumbs.db